/*---------------------- RESET ----------------------*/
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
/*---------------------- COMMON ----------------------*/
body {
    background-color: rgb(39, 43, 44);
    padding-top: 50px;
    font-family: 'Lato', sans-serif;
}
.box {
    width: 80%;
    padding: 50px 100px;
    border-radius: 10px;
    margin: auto;
    background-color: white;
}

/*---------------------- HEADER ----------------------*/
header {
    text-align: center;
    font-family: 'Lato', sans-serif;
    margin-bottom: 50px;
}
/*------- Logo -------*/
.logo {
    width: 300px;
    margin-bottom: 10px;
}
/*------- Nav -------*/
nav button, nav input {
    font-family: 'Lato', sans-serif;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid;
    margin: 10px;
}
nav button {
    cursor: pointer;
    background-color: rgb(0, 119, 255);
    color: white;
    transition: 0.1s;
}
nav button:hover {
    transition: 0.1s;
    background-color: blue;
}
nav button:active {
    background-color: rgb(0, 0, 168);
}

/*---------------------- MAIN ----------------------*/
main section {
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(128, 132, 136);
    color: rgb(218, 218, 218);
}
main section ul li {
    list-style: none;
    border-bottom: 1px solid white;
    padding: 10px;

    display: flex;
    justify-content: space-between;
}
main section ul li:hover {
    transition: 0.1s;
    background-color: rgb(88, 97, 104);
    cursor: pointer;
}
.x-icon:hover {
    transition: 0.1s;
    color: white;
}
